.nav, .pagination, .carousel a { cursor: pointer; }

body { color: #666; font-family: "Open Sans", "Helvetica Neue", Helvetica, "Liberation Sans", Arial,sans-serif; padding-top: 40px; position: relative; }

body > .container { background: #f8f9f4; border-bottom: 10px solid #fff; margin-bottom: 100px; padding-bottom: 100px; position: relative; z-index: 2; width: 100%; }

h2 { color: #666; margin-bottom: 20px; }

/* Helpers */

.hover-shadow:hover,
.shadow { -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }

.border-right { border-right: 1px dotted #000; }

.white-background { background: #fff; }

.padding-30 { padding: 30px; }

.right-block-helper { padding: 0 0 20px; }
.right-block-helper h4,
.right-block-helper p { color: #666; }

.row.header { margin-bottom: 30px; margin-top: 30px; }

.no-padding { padding-left: 0; padding-right: 0; }
.no-padding-left { padding-left: 0; }
.no-padding-right { padding-right: 0; }

/* Box list */

/* .box-list .background { padding: 5px 15px; } */
/* .box-list:hover .background { background-color: rgba(255,255,255,0.90); } */

/* .box-list ul { list-style: none; min-height: 200px; padding: 0; } */
/* .box-list ul li { background: rgba(255,255,255,0.02); color: #666; font-size: 11px; height: 25px; line-height: 20px; margin: 2px 0; overflow: hidden; padding: 3px 0; } */

/* .box-list ul li:first-child { background: rgba(77,167,79,0.07); font-size: 13px; font-weight: bold; } */
/* .box-list ul li:nth-child(2), */
/* .box-list ul li:nth-child(3) { background: rgba(255,255,255,0.04); font-size: 13px; } */

/* .box-list ul li:hover { margin-left: -5px; background: rgba(120,120,120,0.1); } */

/* .list { padding: 15px; } */

.box-list ul {
  list-style-type: none;
  padding: 0;
}

.box-list li > a {
  display: block;
  margin: 10px 0;
  padding: 1px 10px 10px 10px;
}
.box-list li > a:hover {
  background: white;
  text-decoration: none;
}

.box-list li > a .meta {
  font-size: 90%;
  color: #666;
}

/* Header */
.navbar { background: #111; border-top: 3px solid #ef2e32; font-family: Overpass,"Helvetica Neue",Helvetica,Arial,sans-serif; min-height: 40px; }

.navbar-brand { background: url(../img/oo-index-logo.png); height: 26px; margin: 8px 10px 0; padding: 0; text-indent: -5000em; width: 118px; }
.navbar-brand h1 { display: inline; }

.navbar-nav > li > a { background: #333; color: #ccc; font-size: 12px; line-height: 21px; margin: 5px 0 0 2px; padding: 5px 10px; text-transform: uppercase; }
.nav > li > a:hover, .nav > li > a:focus { background: #aaa; color: #000; }

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus { background: #000; color: #fff; }


/* Forms */

.btn, .form-control { border-radius: 0px; }

label { color: #666; }

#search_form .form-control {
  width: 94%;
  height: auto;
}


/* Footer */

footer { background: #333; bottom: 0; min-height: 100px; position: fixed; width: 100%; z-index: 1; }

footer.row {
  margin-left: 0;
  margin-right: 0;
  padding-top: 10px;
}

footer .sponsor {
  color: #ccc;
  margin-top: 10px;
  text-align: right;
}

footer .social a {
  color: #ccc;
  font-size: 16px;
}



/* md */
@media (min-width: 992px) {
  .right-block-helper { 
    float: right; padding: 60px 0 15px 30px; 
  }
}

.flash-error {
    background-color: #e32;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
    width: 600px;
    font-size: large;
}

.flash-info {
    background-color: #2c0;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
    width: 600px;
    font-size: large;
}

/* --- Search page --- */

#search_page .background {
  background: #fff;
  padding: 10px 30px;
}

#search_page h2 {
  margin-bottom: 20px;
  color: #999;
}

#search_page ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#search_page ul li {
  margin-bottom: 40px;
}

#search_page .package_title {
  text-transform: lowercase;
}

#search_page .package_title small {
  margin-right: 10px;
}

#search_page .package_title small:first-of-type {
  margin-left: 10px;
}

#search_page ul li p span {
  margin-right: 10px;
}

/* --- /Search page --- */

