/* .nav, .pagination, .carousel a { cursor: pointer; } */
body { 
  color: #404040; 
  font-family: "Open Sans", "Helvetica Neue", Helvetica, "Liberation Sans", Arial,sans-serif; 
  position: relative; 
}

body > div.container-fluid { 
  background: #eee; 
  padding-bottom: 100px; 
  position: relative; 
  width: 100%; 
}

h2 { 
  color: #404040; 
  margin-bottom: 20px; 
}

/* Helpers */

.hover-shadow:hover,
.shadow { 
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); 
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); 
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); 
}

.border-right { 
  border-right: 1px dotted #000; 
}

.white-background { 
  background: #fff; 
}

.padding-30 { padding: 30px; }

.right-block-helper { padding: 0 0 20px; }
.right-block-helper h4,
.right-block-helper p { color: #666; }

.row.header { margin-bottom: 30px; margin-top: 30px; }

.no-padding { padding-left: 0; padding-right: 0; }
.no-padding-left { padding-left: 0; }
.no-padding-right { padding-right: 0; }

/* Box list */

.box-list ul {
  list-style-type: none;
  padding: 0;
}

.box-list li {
  position: relative;
}
.box-list li:hover {
  background: white;
}

.box-list li > a {
  display: block;
  margin: 10px 0;
  padding: 1px 60px 10px 10px;
}
.box-list li > a:hover {
  background: white;
  text-decoration: none;
}

.box-list li > a .meta {
  font-size: 90%;
  color: #666;
}

.box-list li .launch a {
  font-size: 150%;
  /* display: none; */
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  opacity: .1;
  background: black;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
}
.box-list li:hover .launch a {
  /* display: block; */
  opacity: 1;
  /* background: #ef2e32; */
  background: #9ecde4;
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
}
.box-list li:hover .launch a:hover {
  text-decoration: none;
  background: #6eabcb;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  top: 11px;
  right: 9px;
  transition: .3s background-color;
}
  

/* Header */
.navbar { 
  background: #eee; 
  overflow: hidden;
  border-radius: 0;
  margin-bottom: 0;
  border-bottom: 2px solid #ef2e32;
}

.navbar-brand {
  height: auto;
  padding: 0;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}

.navbar-nav {
  margin-top: 20px;
  background: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.navbar-nav  li  a { 
  color: #505050;
  font-size: 14px; 
}
.navbar-nav li a:hover {
  background: #f8f8f8;
}

/* Subheader section */
.sub-header {
  background: white;
  padding: 30px 0;
  text-align: center;
  font-size: 18px;
  /* border: 1px solid; */
  /* border-color: #ccc transparent; */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

/* Forms */

.btn, .form-control { border-radius: 0px; }

label { color: #666; }

#search_form .form-control {
  width: 90%;
  margin: 0 auto;
  height: auto;
  background: url('../img/magnifying-glass.png') no-repeat 98% center;
}
#search_form .btn {
  display: none;
}


/* Footer */

footer { 
  background: #333; 
  bottom: 0; 
  width: 100%; 
  padding: 20px 0;
}

footer .sponsor {
  color: #ccc;
  margin-top: 10px;
  text-align: right;
}

footer .social a {
  color: #ccc;
  font-size: 16px;
}



/* md */
@media (min-width: 992px) {
  .right-block-helper { 
    float: right; padding: 60px 0 15px 30px; 
  }
}

/** Messages **/
.flash-error {
    background-color: #e32;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
    width: 600px;
    font-size: large;
}

.flash-info {
    background-color: #2c0;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
    width: 600px;
    font-size: large;
}

/* --- Search page --- */

#search_page .background {
  background: #fff;
  padding: 10px 30px;
}

#search_page h2 {
  margin-bottom: 20px;
  color: #999;
}

#search_page ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#search_page ul li {
  margin-bottom: 40px;
}

#search_page .package_title {
  text-transform: lowercase;
}

#search_page .package_title small {
  margin-right: 10px;
}

#search_page .package_title small:first-of-type {
  margin-left: 10px;
}

#search_page ul li p span {
  margin-right: 10px;
}

/* --- /Search page --- */

