{% extends "layout.html" %}
{% block content %}
<header>
<h1>About This OpenShift Origin Index</h1>
</header>

<div class="shadow white-background padding-30">
<h2>About</h2>
<p>The OpenShift Origin index is a complimentary service for users of OpenShift Origin-based Services like as OpenShift Online.<</p>
<p>The code for this Open Source project is available here</p>
<p>If you have any questions about OpenShift Origin Index, this is the right place to look. The docs are still a work in progress, so if you don't find what you are looking for, feel free to contact us</p>
	
</div>

{% endblock %}
