{% extends "layout.html" %}
{% block content %}
<header>
<h1>About This OpenShift Origin Index</h1>
</header>

<div class="shadow white-background padding-30">
<h2>About</h2>
<p>The OpenShift Origin index is the place to find and browse OpenShift Community-sourced QuickStarts and Cartridges.

<p>Discover new QuickStarts and Cartridges.</p>
<p>Add your QuickStarts and Cartridges from your projects on Github.</p>
<p>Socially share the ones you are currently enjoying with your friends!</p>
<p>Give Feedback directly to the authors on their projects.</p>
<p>Contribute and Collaborate on existing projects instead of re-inventing the wheel.</p>
<p>The OpenShift Origin index is a complimentary service for users of OpenShift Origin-based Services like as OpenShift Online.<</p>
<p>The code for this Open Source project is available here</p>
<p>The Index is still a work in progress, so if you don't find what you are looking for, feel free to contact us or post an issue in our github repo here</p>
	
</div>

{% endblock %}
