{% extends "layout.html" %}
{% block content %}
<div class="row">
	<div class="col-md-12 text-center">
		<h2>Add QuickStart or Cartridge</h2>
	</div>
</div>

{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		{% for category, message in messages %}
		<div class="container text-center flash-{{ category }}">{{ message }}</div>
		{% endfor %}
	{% endif %}
{% endwith %}

<div class="row">
	<form class="form-horizontal col-md-10 col-md-offset-1 shadow white-background padding-30" action="" method="post">

		<fieldset class="col-md-12">
			<div class="row">
				<div class="col-md-6 inverse right-block-helper">
					<h4>Use this form to add a new quickstart or cartridge to the index.</h4>
					<p>Basic data about your project will be pulled in from Github such as language, data created, last update, # of watcher, stargazers and forks - which is used to rank your project activity. Each quickstart or cartridge to be added should be avaliable as its own Github repository.</p>
					<p>For example, if the quickstart is located at http://github.com/myusername/myquickstartname, put 'myusername' in the first box and 'myquickstartname'in the second. For all quickstarts, we will need you to tell us which cartridges are required to create the application. For more information about how to create a quickstart or a cartridge, please refer to the <a href="">Getting started documentation</a> for more information.</p>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<div class="btn-group">
							<fieldset>
								<label class="btn btn-primary">
									<input type="radio" name="type" id="quickstart" value="quickstart" checked="checked"> Quickstart
								</label>
								<label class="btn btn-primary">
									<input type="radio" name="type" id="cartridge" value="cartridge"> Cartridge
								</label>
							</fieldset>
						</div>
					</div>

					<div class="form-group">
						<label for="github-username">Github username/account</label>
						<input type="text" name="github-username" class="form-control " id="github-username" placeholder="Github username/account" value="{{ g.user }}">
						<p class="help-block">Enter the github username/account name which owns the repository containing the role.</p>
					</div>

					<div class="form-group">
						<label for="github-repository">Github repository</label>
						<input type="text" name="github-repository" class="form-control " id="github-repository" placeholder="Github repository">
						<p class="help-block">Enter the name of the repository containing the quickstart or cartridge.</p>
					</div>

					<div class="form-group">
						<label for="app-name">Default App Name</label>
						<input type="text" name="app-name" class="form-control" id="app-name" placeholder="myApp">
						<p class="help-block">(optional) A short name for the hosted application. No hyphens or spaces allowed.  If left blank, the repo name will be used.</p>
					</div>
				</div>
			</div>

			<!-- TODO: update to combo -->
			<div class="form-group" data-required="quickstart">
				<label for="cartridges">Cartridges</label>
				<input autocomplete="off" autocapitalize="off" spellcheck="false" type="text" name="cartridges" class="form-control" id="cartridges" placeholder="Cartridges" ui-select2="select2Options">
				<p class="help-block">Enter a comma-separated list detailing each of your application's cartridge dependencies (for example: php-5.4, cron-14, mysql-5.1, phpmyadmin-3.4).</p>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-default pull-right">Add quickstart/cartridge</button>
			</div>

		</fieldset>
	</form>
</div>
{% endblock %}
