{% extends "layout.html" %}
{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<h3>About OpenShift Origin Index</h3>
			<p>The OpenShift Origin index is the place to find and browse OpenShift Community-sourced QuickStarts and Cartridges.</p>
			<ul>
				<li>Discover new QuickStarts and Cartridges.</li>
				<li>Add your QuickStarts and Cartrigdes from your projects on Github.</li>
				<li>Socially share the ones you are currently enjoying with your friends!</li>
				<li>Give Feedback directly to the authors on their projects.</li>
				<li>Contribute and Colloborate on existing projects instead of re-inventing the wheel.</li>
			</ul>
		</div>
	</div>

	<hr>

	<div class="row header">
		<div class="col-xs-6">
			<form class="form-inline row ng-pristine ng-valid" role="form" ng-submit="search()">
				<div class="form-group col-xs-9">
					<input type="search" class="form-control" placeholder="name, type (cartridge or quickstart), owner, language" required="">
				</div>
				<div class="no-padding col-xs-3">
					<button type="submit" class="btn btn-default">search</button>
				</div>
			</form>
		</div>
		<div class="col-xs-6">
{% if g.user %}
			<a class="btn btn-default pull-right" href="/add">+ Add quickstart or cartridge</a>
{% else %}
			<a class="btn btn-default pull-right" href="/login">+ Login to add your quickstarts</a>
{% endif %}
		</div>
	</div>

	<div class="row list">
		<div class="col-md-4 box-list no-padding-left">
			<div class="background hover-shadow">
				<h4 class="text-center">Popular</h4>
				<ul>
					<li>
						<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Cartridge </div>

						<div class="col-xs-4 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
					</li>
					<li>
						<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Quickstart </div>

						<div class="col-xs-4 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
					</li>	
					<li>
						<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Cartridge </div>

						<div class="col-xs-4 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
					</li>
					<li>
						<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Cartridge </div>

						<div class="col-xs-4 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
					</li>
					<li>
						<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Cartridge </div>

						<div class="col-xs-4 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
					</li>
					<li>
						<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Cartridge </div>

						<div class="col-xs-4 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
					</li>
					<li>
						<div class="col-xs-4"> <a href="#/quickstart/play2java">play2java</a></div>
						<div class="col-xs-4"> Quickstart </div>

						<div class="col-xs-4 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
					</li>
					<li>
						<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Cartridge </div>

						<div class="col-xs-4 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
					</li>
					<li>
						<div class="col-xs-4"> <a href="#/quickstart/play2java">play2java</a></div>
						<div class="col-xs-4"> Quickstart </div>

						<div class="col-xs-4 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
					</li>
					<li>
						<div class="col-xs-4"> <a href="#/quickstart/play2java">play2java</a></div>
						<div class="col-xs-4"> Quickstart </div>

						<div class="col-xs-4 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
					</li>
				</ul>
			</div>
		</div>

		<div class="col-md-4 box-list no-padding-left">
			<div class="background hover-shadow">
				<h4 class="text-center">Most stars</h4>
				<ul>
					<li>
						<div class="col-xs-4 small"><span class="glyphicon glyphicon-star"></span> 3243</div>
						<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Cartridge </div>
					</li>
					<li>
						<div class="col-xs-4 small"><span class="glyphicon glyphicon-star"></span> 2001</div>
						<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Quickstart </div>
					</li>	
					<li>
						<div class="col-xs-4 small"><span class="glyphicon glyphicon-star"></span> 649</div>
						<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Cartridge </div>
					</li>
					<li>
						<div class="col-xs-4 small"><span class="glyphicon glyphicon-star"></span> 503</div>
						<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Cartridge </div>
					</li>
					<li>
						<div class="col-xs-4 small"><span class="glyphicon glyphicon-star"></span> 230</div>
						<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Cartridge </div>
					</li>
					<li>
						<div class="col-xs-4 small"><span class="glyphicon glyphicon-star"></span> 102</div>
						<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Cartridge </div>
					</li>
					<li>
						<div class="col-xs-4 small"><span class="glyphicon glyphicon-star"></span> 99</div>
						<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Cartridge </div>
					</li>
					<li>
						<div class="col-xs-4 small"><span class="glyphicon glyphicon-star"></span> 67</div>
						<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Cartridge </div>
					</li>
					<li>
						<div class="col-xs-4 small"><span class="glyphicon glyphicon-star"></span> 32</div>
						<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Cartridge </div>
					</li>
					<li>
						<div class="col-xs-4 small"><span class="glyphicon glyphicon-star"></span> 15</div>
						<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Cartridge </div>
					</li>
				</ul>
			</div>
		</div>

		<div class="col-md-4 box-list no-padding-left">
			<div class="background hover-shadow">
				<h4 class="text-center">New or recently updated</h4>
				<ul>
					<li>
						<div class="col-xs-3 small">1 min ago</div>
						<div class="col-xs-5"><a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Quickstart </div>
					</li>
					<li>
						<div class="col-xs-3 small">5 min ago</div>
						<div class="col-xs-5"><a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Quickstart </div>
					</li>	
					<li>
						<div class="col-xs-3 small">1 hour ago</div>
						<div class="col-xs-5"><a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Quickstart </div>
					</li>
					<li>
						<div class="col-xs-3 small">3 hours ago</div>
						<div class="col-xs-5"><a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Quickstart </div>
					</li>
					<li>
						<div class="col-xs-3 small">5 hours ago</div>
						<div class="col-xs-5"><a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Quickstart </div>
					</li>
					<li>
						<div class="col-xs-3 small">1 day ago</div>
						<div class="col-xs-5"><a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Quickstart </div>
					</li>
					<li>
						<div class="col-xs-3 small">5 days ago</div>
						<div class="col-xs-5"><a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Quickstart </div>
					</li>
					<li>
						<div class="col-xs-3 small">9 days ago</div>
						<div class="col-xs-5"><a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Quickstart </div>
					</li>
					<li>
						<div class="col-xs-3 small">20 days ago</div>
						<div class="col-xs-5"><a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Quickstart </div>
					</li>
					<li>
						<div class="col-xs-3 small">1 month ago</div>
						<div class="col-xs-5"><a href="#/cartridge/play2java">play2java</a></div>
						<div class="col-xs-4"> Quickstart </div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div>
		<div class="row">
		<div class="col-xs-12">
	
			<p>The index is a complimentary service for users of <a href="http://www.openshift.com">OpenShift</a> Origin-based Platforms. </p>
			<ul>
<li>OpenShift Origin and the OpenShift Origin index are <a href="http://www.redhat.com">Red Hat sponsored projects</a></div></li>
<li><a title=“OpenShift on Twitter" class="twitter" href="http://twitter.com/openshift”>Twitter</a></li>
<li><a title=“OpenShift on GitHub" class="github" href="https://github.com/openshift/“>GitHub</a></li>
<li><a title=“OpenShift on Reddit class="reddit" href="http://www.reddit.com/r/OpenShift/“>Reddit</a></li>
<li><a title=“OpenShift on Google+" class="googleplus" href="https://plus.google.com/u/0/communities/114361859072744017486">Google+</a></li>
<li><a title=“OpenShift on SlideShare" class="slideshare" href="http://www.slideshare.net/openshift”>Slideshare</a></li>
<li><a title=“OpenShift on Youtube" class="youtube" href="http://www.youtube.com/user/rhopenshift/“>Youtube</a></li>
			</ul>
		</div>
	        </div>
	</div>
{% endblock %}
