{% extends "layout.html" %}
{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<h3>About OpenShift Origin Index</h3>
			<p>The OpenShift Origin index is the place to find and browse OpenShift Community-sourced QuickStarts and Cartridges.</p>
			<ul>
				<li>Discover new QuickStarts and Cartridges.</li>
				<li>Add your QuickStarts and Cartridges from your projects on Github.</li>
				<li>Socially share the ones you are currently enjoying with your friends!</li>
				<li>Give Feedback directly to the authors on their projects.</li>

				<li>Contribute and Collaborate on existing projects instead of re-inventing the wheel.</li>

			</ul>
		</div>
	</div>

	<hr>

	<div class="row header">
		<div class="col-xs-6">
			<!-- TODO: implement search -->
			<form id="search" class="form-inline row ng-pristine ng-valid" role="form" method="get" action="/search">
				<div class="form-group col-xs-9">
					<input type="search" class="form-control" placeholder="name, type (cartridge or quickstart), owner, language" required="" name="query">
				</div>
				<div class="no-padding col-xs-3">
					<button type="submit" class="btn btn-default" onclick="$('#search').submit()">search</button>
				</div>
			</form>
		</div>
		<div class="col-xs-6">
{% if g.user %}
			<a class="btn btn-default pull-right" href="/add">+ Add quickstart or cartridge</a>
{% else %}
			<a class="btn btn-default pull-right" href="/login">+ Login to add your quickstarts</a>
{% endif %}
		</div>
	</div>

	<!-- TODO:
	       - fix columns width
	       - add button "deploy" (glyphicon-cloud_upload)
	-->
	<div class="row list">
		<div class="col-md-4 box-list no-padding-left">
			<div class="background hover-shadow">
				<h4 class="text-center">Popular</h4>
				<ul>
				{% for qs in most_popular %}
					<li>
						<div class="col-xs-2 small"><span class="glyphicon glyphicon-eye-open"></span> {{qs.watchers}}</div>
						<div class="col-xs-4"> <a href="{{qs.git_repo_url}}">{{ qs.name }}</a></div>
						<div class="col-xs-2">{{ qs.type|short_name }}</div>
						<div class="col-xs-4">{{ qs|owner_display|safe }}</div>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>

		<div class="col-md-4 box-list no-padding-left">
			<div class="background hover-shadow">
				<h4 class="text-center">Most stars</h4>
				<ul>
				{% for qs in most_starred %}
					<li>
						<div class="col-xs-2 small"><span class="glyphicon glyphicon-star"></span> {{qs.stargazers}}</div>
						<div class="col-xs-4"> <a href="{{qs.git_repo_url}}">{{ qs.name }}</a></div>
						<div class="col-xs-2">{{ qs.type|short_name }}</div>
						<div class="col-xs-4">{{ qs|owner_display|safe }}</div>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>

		<div class="col-md-4 box-list no-padding-left">
			<div class="background hover-shadow">
				<h4 class="text-center">New or recently updated</h4>
				<ul>
				{% for qs in most_starred %}
					<li>
						<!-- TODO: humanize qs age -->
						<div class="col-xs-2 small"><span class="glyphicon glyphicon-time"></span> 1 min ago</div>
						<div class="col-xs-4"> <a href="{{qs.git_repo_url}}">{{ qs.name }}</a></div>
						<div class="col-xs-2">{{ qs.type|short_name }}</div>
						<div class="col-xs-4">{{ qs|owner_display|safe }}</div>
					</li>
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div>
		<div class="row">
		<div class="col-xs-12">
			<p>The index is a complimentary service for users of <a href="http://www.openshift.com">OpenShift</a> Origin-based Platforms. </p>
			<ul>

                           <li>OpenShift Origin and the OpenShift Origin index are <a href="http://www.redhat.com">Red Hat sponsored projects</a></li>
                           <li><strong>Get Social with OpenShift Origin:</strong></li>
                           <li>OpenShift on <a href="http://twitter.com/openshift">Twitter</a></li>
                           <li>OpenShift on <a href="http://www.reddit.com/r/OpenShift/">Reddit</a></li>
                           <li>OpenShift on <a href="http://stackoverflow.com/questions/tagged/openshift">StackOverflow</a></li>
                           <li>OpenShift on <a href="https://plus.google.com/u/0/communities/114361859072744017486">Google+</a></li>
                           <li>OpenShift on <a href="http://www.slideshare.net/openshift">SlideShare</a></li>
                           <li>OpenShift on <a href="https://github.com/openshift">GitHub</a></li>
                           <li>OpenShift on <a href="http://www.youtube.com/user/rhopenshift/">Youtube</a></li>

			</ul>
		</div>
	        </div>
	</div>
{% endblock %}
