{% extends "layout.html" %}
{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<h1>About OpenShift Origin Index</h1>
			<p>The OpenShift Origin index is the place to find and browse OpenShift Community-sourced QuickStarts and Cartridges.</p>
			<ul>
				<li>Discover new QuickStarts and Cartridges.</li>
				<li>Add your QuickStarts and Cartridges from your projects on Github.</li>
				<li>Socially share the ones you are currently enjoying with your friends!</li>
				<li>Give Feedback directly to the authors on their projects.</li>

				<li>Contribute and Collaborate on existing projects instead of re-inventing the wheel.</li>

			</ul>
		</div>
	</div>

	<hr>

	<div class="row header">
		<div class="col-xs-6">
			{% include 'partials/search_form.html' %}
		</div>
		<div class="col-xs-6">
{% if g.user %}
			<a class="btn btn-default pull-right" href="/add">+ Add quickstart or cartridge</a>
{% else %}
			<a class="btn btn-default pull-right" href="/login">+ Login to add your quickstarts</a>
{% endif %}
		</div>
	</div>

	<!-- TODO:
	       - fix columns width
	       - add button "deploy" (glyphicon-cloud_upload)
	-->
	<div class="row list">
		<div class="popular col-md-5 col-md-offset-1 box-list">
			<header>
				<h2>Most Popular</h2>
			</header>
			<ul>
			{% for qs in most_popular %}
				<li>
					<a href="{{qs|git_repo_url}}">
						<h4 class="name">{{ qs.name }}</h4>
						<div class="meta">{{ qs.type }} by {{ qs|owner_name|safe }}</div>
						{% if qs.launch_url %}
                                                <div style="padding-left:20px;"><a class='btn btn-default btn-primary btn-sm' style='border-radius:5px;' href='{{qs.launch_url}}'>Launch <span class="glyphicon glyphicon-new-window"></span></a></div>
                                                {% endif %}
					</a>
				</li>
			{% endfor %}
			</ul>
		</div>

		<div class="recent col-md-5 box-list">
			<header>
				<h2>Recently added or updated</h2>
			</header>
			<ul>
			{% for qs in latest %}
				<li>
					<a href="{{qs|git_repo_url}}">
						<h4 class="name">{{ qs.name }}</h4>
						<div class="meta">{{ qs.type }} by {{ qs|owner_name|safe }}</div>
						{% if qs.launch_url %}
                                                <div style='padding-left:20px;'><a class='btn btn-default btn-primary btn-sm' style='border-radius:5px;' href='{{qs.launch_url}}'>Launch <span class="glyphicon glyphicon-new-window"></span></a></div>
                                                {% endif %}
					</a>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
