{% extends "layout.html" %}
{% block content %}

<div class="row header">
    <div class="col-xs-6">
      <h1>Search for quickstarts</h1>
      <br />
      <!-- TODO: implement search -->
      <form id="search" class="form-inline row ng-pristine ng-valid" role="form" method="get" action="/search">
        <div class="form-group col-xs-9">
          <input type="search" class="form-control" placeholder="name, type (cartridge or quickstart), owner, language" required="" name="query">
        </div>
        <div class="no-padding col-xs-3">
          <button type="submit" class="btn btn-default" onclick="$('#search').submit()">search</button>
        </div>
      </form>
    </div>
  </div>

 <div class="row list">
    <div class="col-xs-12  no-padding-left">
      <div class="background shadow" style="background: #fff; padding: 10px 30px;">
        <h2 class="text-left" style="margin-bottom: 20px; color: #999;">Result list</h2>
        {% if quickstarts %}
        <ul style="margin: 0; padding: 0;">
          {% for qs in quickstarts %}
            <li style="list-style: none; margin-bottom: 40px">
              <h4 style="text-transform: lowercase;"><a href="{{qs.git_repo_url}}">{{qs.name}}</a>
                <small style="margin-right: 10px; margin-left: 10px;"><span class="glyphicon glyphicon-eye-open"></span> {{qs.watchers}}</small>
                <small style="margin-right: 10px;"><span class="glyphicon glyphicon-star"></span> {{qs.stargazers}}</small>
                <small >last update: {{qs.updated_at}}</small>
              </h4>
              <p>
                <span  style="margin-right: 10px"><span class="glyphicon glyphicon-tag" style="margin-right: 10px"></span>{{qs.language}}</span>
                <span><span class="glyphicon glyphicon-user" style="margin-right: 10px"></span><a href="{{qs.owner}}" target="_blank">{{qs.owner}}</a></span>
              </p>
              <p>{{qs.description}}</p>
            </li>
          {% endfor %}
        </ul>
        {% else %}
          <div class="text-center">
            <br />
            <p class="lead">Sorry, there are no results :(</p>
            <h3><a href="#">Perhaps it's time to add an image of your own?<a></h3>
            <br />
          </div>
        {% endif %}
      </div>
    </div>
{% endblock %}
