{% extends "layout.html" %}
{% set body_class = "search" %}
{% block content %}

<div class="row sub-header">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <p>
            Find, browse, and share OpenShift cartridges and quickstarts.
        </p>
        {% include 'partials/search_form.html' %}
    </div>
</div>

<div class="row box-list">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
       {% if quickstarts %}
        <h2>Results for {{query}}</h2>
        <ul>
          {% for qs in quickstarts %}
            <li>
              <a href="{{qs.git_repo_url}}">
                <h4 class="package_title">
                    {{qs.name}}
                </h4>
              </a>
                <p class="description">{{qs.description}}</p>
                <div class="meta">
                    <span class="glyphicon glyphicon-tag"></span>{{qs.language}}
                    <span class="glyphicon glyphicon-user"></span>{{qs.owner}}
                    <span class="glyphicon glyphicon-eye-open"></span>{{qs.watchers}}
                    <span class="glyphicon glyphicon-star"></span>{{qs.stargazers}}
                    <span class="glyphicon glyphicon-time"></span>last update: {{qs.updated_at}}
                    <a href="/package?quickstarts={{qs.name}}"><span class="glyphicon glyphicon-gift"></span></a>
                </div>
              {% if qs.launch_url %}
                <div class="launch">
                    <a title="Launch {{qs.name}}" href='{{qs.launch_url}}'>
                        <span class="icon icon-rocket"></span>
                    </a>
                </div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        {% else %}
          <div class="text-center">
            <br />
            <p class="lead">Sorry, there are no results :(</p>
            <h3><a href="/add">Perhaps it's time to add an image of your own?<a></h3>
          </div>
        {% endif %}
      </div>
    </div>
{% endblock %}
