<section data-ng-controller="ProjectController">

	<div class="row">
		<div class="col-md-12 text-center">

			<h2>Add QuickStart or Cartridge</h2>
			
		</div>
	</div>


	<div class="row">
		<form class="form-horizontal col-md-10 col-md-offset-1 gray-border white-background padding-30" role="form" data-ng-submit="add()">
			<!-- Success modal, error message (form validation) -->

			<fieldset class="col-md-12">
				<!-- TODO Options to select cartridge or quickstart -->

				<div class="row">
					<div class="col-md-6 inverse right-block-helper">
						<h4>Use this form to add a new quickstart or cartridge to the index.</h4>
						<p>Basic data about your project will be pulled in from Github such as language, data created, last update, # of watcher, stargazers and forks - which is used to rank your project activity. Each quickstart or cartridge to be added should be avaliable as its own Github repository.</p>
						<p>For example, if the quickstart is located at http://github.com/myusername/myquickstartname, put 'myusername' in the first box and 'myrolename'in the second. For all quickstarts, we will need you to tell us which cartridges are used to create the application. For more information about how to create and upload a role, please refer to the <a href="">getting started documentation</a> for more information.</p>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<div class="btn-group" data-toggle="buttons">
								<label class="btn btn-primary">
									<input type="radio" name="type" id="quickstart" ng-model="project.type" checked> Quickstart
								</label>
									<label class="btn btn-primary">
									<input type="radio" name="type" id="cartridge" ng-model="project.type"> Cartridge
								</label>
							</div>
						</div>

						<div class="form-group">
							<label for="github-username">Github username/account</label>
							<input type="text" class="form-control" id="github-username" placeholder="Github username/account" ng-model="project.username">
							<p class="help-block">Enter the username/account name which owns the repository containing the role.</p>
						</div>

						<div class="form-group">
							<label for="github-repository">Github repository</label>
							<input type="text" class="form-control" id="github-repository" placeholder="Github repository" ng-model="project.repository">
							<p class="help-block">Enter the name of the repository containing the quickstart or cartridge.</p>
						</div>

						<div class="form-group">
							<label for="alternate-name">Alternate name</label>
							<input type="text" class="form-control" id="alternate-name" placeholder="Alternate name" ng-model="project.name">
							<p class="help-block">(optional) An alternate name for the repository. If left blank, the repo name will be used.</p>
						</div>
					</div>
				</div>

				<!-- TODO: update to combo -->
				<div class="form-group" data-required="quickstart">
					<label for="alternate-name">Cartridges</label>
					<input autocomplete="off" autocapitalize="off" spellcheck="false" type="text" class="form-control select2" id="alternate-name" placeholder="Cartridges" ng-model="project.cartridges">
					<p class="help-block">Enter the names of the cartridges required to deploy quickstart seperated by commas (for example: cron-14, mysql-5.1, phpmyadmin-3.4).</p>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-default pull-right" ng-click="save()">Add quickstart/cartridge</button>
				</div>

			</fieldset>
		</form>
	</div>
</section>

<!--  CHANGE TO external script -->
<script>
	
	//$('.select2').select2();

</script>