<section data-ng-controller="HomeController">
	<div class="container">

		<div class="row header">
			<div class="col-xs-6">
				<form class="form-inline row" role="form">
					<div class="form-group col-xs-9">
						<input type="search" class="form-control" placeholder="name, type (cartridge or quickstart), owner, language">
						
					</div>
					<div class="no-padding col-xs-3">
						<button type="submit" class="btn btn-default">search</button>
					</div>
				</form>
			</div>
			<div class="col-xs-6">
				<a class="btn btn-default pull-right" href="#/add">+ Add quickstart or cartridge</a>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<h3>Mussum ipsum cacilds</h3>
				<p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.</p>
			</div>			
		</div>

		<div class="row list">
			<div class="col-md-4 box-list no-padding-left">
				<div class="background">
					<h4 class="text-center">Popular</h4>
					<ul>
						<li>
							<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Cartridge </div>

							<div class="col-xs-4 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
						</li>
						<li>
							<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Quickstart </div>

							<div class="col-xs-4 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
						</li>	
						<li>
							<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Cartridge </div>

							<div class="col-xs-4 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
						</li>
						<li>
							<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Cartridge </div>

							<div class="col-xs-4 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
						</li>
						<li>
							<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Cartridge </div>

							<div class="col-xs-4 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
						</li>
						<li>
							<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Cartridge </div>

							<div class="col-xs-4 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
						</li>
						<li>
							<div class="col-xs-4"> <a href="#/quickstart/play2java">play2java</a></div>
							<div class="col-xs-4"> Quickstart </div>

							<div class="col-xs-4 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
						</li>
						<li>
							<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Cartridge </div>

							<div class="col-xs-4 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
						</li>
						<li>
							<div class="col-xs-4"> <a href="#/quickstart/play2java">play2java</a></div>
							<div class="col-xs-4"> Quickstart </div>

							<div class="col-xs-4 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
						</li>
						<li>
							<div class="col-xs-4"> <a href="#/quickstart/play2java">play2java</a></div>
							<div class="col-xs-4"> Quickstart </div>

							<div class="col-xs-4 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-md-4 box-list no-padding-left">
				<div class="background">
					<h4 class="text-center">Most stars</h4>
					<ul>
						<li>
							<div class="col-xs-4 small"><span class="glyphicon glyphicon-star"></span> 3243</div>
							<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Cartridge </div>
						</li>
						<li>
							<div class="col-xs-4 small"><span class="glyphicon glyphicon-star"></span> 2001</div>
							<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Quickstart </div>
						</li>	
						<li>
							<div class="col-xs-4 small"><span class="glyphicon glyphicon-star"></span> 649</div>
							<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Cartridge </div>
						</li>
						<li>
							<div class="col-xs-4 small"><span class="glyphicon glyphicon-star"></span> 503</div>
							<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Cartridge </div>
						</li>
						<li>
							<div class="col-xs-4 small"><span class="glyphicon glyphicon-star"></span> 230</div>
							<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Cartridge </div>
						</li>
						<li>
							<div class="col-xs-4 small"><span class="glyphicon glyphicon-star"></span> 102</div>
							<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Cartridge </div>
						</li>
						<li>
							<div class="col-xs-4 small"><span class="glyphicon glyphicon-star"></span> 99</div>
							<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Cartridge </div>
						</li>
						<li>
							<div class="col-xs-4 small"><span class="glyphicon glyphicon-star"></span> 67</div>
							<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Cartridge </div>
						</li>
						<li>
							<div class="col-xs-4 small"><span class="glyphicon glyphicon-star"></span> 32</div>
							<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Cartridge </div>
						</li>
						<li>
							<div class="col-xs-4 small"><span class="glyphicon glyphicon-star"></span> 15</div>
							<div class="col-xs-4"> <a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Cartridge </div>
						</li>
					</ul>
				</div>
			</div>

			<div class="col-md-4 box-list no-padding-left">
				<div class="background">
					<h4 class="text-center">New or recently updated</h4>
					<ul>
						<li>
							<div class="col-xs-3 small">1 min ago</div>
							<div class="col-xs-5"><a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Quickstart </div>
						</li>
						<li>
							<div class="col-xs-3 small">5 min ago</div>
							<div class="col-xs-5"><a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Quickstart </div>
						</li>	
						<li>
							<div class="col-xs-3 small">1 hour ago</div>
							<div class="col-xs-5"><a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Quickstart </div>
						</li>
						<li>
							<div class="col-xs-3 small">3 hours ago</div>
							<div class="col-xs-5"><a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Quickstart </div>
						</li>
						<li>
							<div class="col-xs-3 small">5 hours ago</div>
							<div class="col-xs-5"><a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Quickstart </div>
						</li>
						<li>
							<div class="col-xs-3 small">1 day ago</div>
							<div class="col-xs-5"><a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Quickstart </div>
						</li>
						<li>
							<div class="col-xs-3 small">5 days ago</div>
							<div class="col-xs-5"><a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Quickstart </div>
						</li>
						<li>
							<div class="col-xs-3 small">9 days ago</div>
							<div class="col-xs-5"><a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Quickstart </div>
						</li>
						<li>
							<div class="col-xs-3 small">20 days ago</div>
							<div class="col-xs-5"><a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Quickstart </div>
						</li>
						<li>
							<div class="col-xs-3 small">1 month ago</div>
							<div class="col-xs-5"><a href="#/cartridge/play2java">play2java</a></div>
							<div class="col-xs-4"> Quickstart </div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>