<section data-ng-controller="SearchController">
	<div class="container">

		<div class="row header">
			<div class="col-xs-6">
				<form class="form-inline row" role="form">
					<div class="form-group col-xs-9">
						<input type="search" class="form-control" placeholder="name, type (cartridge or quickstart), owner, language">
						
					</div>
					<div class="no-padding col-xs-3">
						<button type="submit" class="btn btn-default">search</button>
					</div>
				</form>
			</div>
			<div class="col-xs-6">
				<a class="btn btn-default pull-right" href="#/add">+ Add quickstart or cartridge</a>
			</div>
		</div>

		<div class="row list">
			<div class="col-md-12 box-list no-padding-left">
				<h4>Search: </h4>
				<hr />
				<ul>
					<li>
						<div class="col-xs-2 small">1 min ago</div>
						<div class="col-xs-4"> <a href="#/quickstart/play2java">play2java</a></div>
						<div class="col-xs-2"> Quickstart </div>

						<div class="col-xs-2 small"><span class="glyphicon glyphicon-star"></span> 3243</div>

						<div class="col-xs-2 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
					</li>
					<li>
						<div class="col-xs-2 small">1 min ago</div>
						<div class="col-xs-4"> <a href="#/quickstart/play2java">play2java</a></div>
						<div class="col-xs-2"> Quickstart </div>

						<div class="col-xs-2 small"><span class="glyphicon glyphicon-star"></span> 3243</div>

						<div class="col-xs-2 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
					</li>
					<li>
						<div class="col-xs-2 small">1 min ago</div>
						<div class="col-xs-4"> <a href="#/quickstart/play2java">play2java</a></div>
						<div class="col-xs-2"> Quickstart </div>

						<div class="col-xs-2 small"><span class="glyphicon glyphicon-star"></span> 3243</div>

						<div class="col-xs-2 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
					</li>
					<li>
						<div class="col-xs-2 small">1 min ago</div>
						<div class="col-xs-4"> <a href="#/quickstart/play2java">play2java</a></div>
						<div class="col-xs-2"> Quickstart </div>

						<div class="col-xs-2 small"><span class="glyphicon glyphicon-star"></span> 3243</div>

						<div class="col-xs-2 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
					</li>
					<li>
						<div class="col-xs-2 small">1 min ago</div>
						<div class="col-xs-4"> <a href="#/quickstart/play2java">play2java</a></div>
						<div class="col-xs-2"> Quickstart </div>

						<div class="col-xs-2 small"><span class="glyphicon glyphicon-star"></span> 3243</div>

						<div class="col-xs-2 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
					</li>
					<li>
						<div class="col-xs-2 small">1 min ago</div>
						<div class="col-xs-4"> <a href="#/quickstart/play2java">play2java</a></div>
						<div class="col-xs-2"> Quickstart </div>

						<div class="col-xs-2 small"><span class="glyphicon glyphicon-star"></span> 3243</div>

						<div class="col-xs-2 small"><img alt="Nagib" height="20" src="https://0.gravatar.com/avatar/e0b154b08179a2798510d4d63eafae8e?d=https%3A%2F%2Fidenticons.github.com%2F99f5a12273c3338adff0f524f2bcae03.png&amp;r=x&amp;s=140" width="20"> Nagib</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>